<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% block title %}Bruminator{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

        {% stylesheets '@MainBundle/Resources/public/css/sticky-footer.css' %}
            <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-52108059-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
{% block menu %}
    <nav class="navbar navbar-light bg-faded navbar-full navbar-static-top">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navCollapsing" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
            &#9776;
        </button>
        <div class="container collapse navbar-toggleable-xs" id="navCollapsing">
            <a class="navbar-brand" href="{{ path('homepage') }}">Bruminator</a>

            <ul class="nav navbar-nav">
                {% if app.user %}
                    <li class="nav-item dropdown {% if app.request.attributes.get('_route') matches '{^team_(?!front).*$}' %}active{% endif %}">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mon équipe</a>
                        <div class="dropdown-menu">
                            {% if app.user.team %}
                                <a class="dropdown-item" href="{{ path('team_homepage') }}">Gérer</a>
                            {% else %}
                                <a class="dropdown-item" href="{{ path('team_registration') }}">Inscription</a>
                            {% endif %}
                        </div>
                    </li>
                {% endif %}

                <li class="nav-item {% if app.request.attributes.get('_route') matches '{^team_front.*$}' %}active{% endif %} dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tournoi</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('team_front_homepage') }}">Liste des équipes</a>
                    </div>
                </li>

                <li class="nav-item {#% if app.request.attributes.get('_route') matches '{^team_front.*$}' %}active{% endif %#} dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Autres curiosités</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('gallerie') }}">Le musée</a>
                    </div>
                </li>
            </ul>

            <ul class="nav navbar-nav pull-xs-right">
                <li class="nav-item dropdown hidden-sm-down">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sponsors</a>
                    <div class="dropdown-menu">
                        {% for key, sponsor in 'sponsor'|config %}
                            <a class="dropdown-item" href="{{ sponsor.link }}" target="_blank">
                                <img alt="Logo {{ key }}" src="{{ asset('bundles/main/images/sponsors/'~sponsor.image ) }}"> {{ key }}
                            </a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item hidden-sm-down m-r-2">
                    <a class="nav-link" href="{{ 'lien_dofus'|config }}" target="_blank">
                        {% image '@MainBundle/Resources/public/images/dofus.png' output='/images/dofus.png' %}
                            <img alt="Logo Dofus" src="{{ asset_url }}">
                        {% endimage %}
                    </a>
                </li>
                {% if app.user %}
                    <li class="nav-item {% if app.request.attributes.get('_route') matches '{^user_.*$}' %}active{% endif %} dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> {{ app.user.username }}</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Se déconnecter</a>
                        </div>
                    </li>

                    {% if is_granted("ROLE_ADMIN") %}
                        <li class="nav-item {% if app.request.attributes.get('_route') matches '{^admin_.*$}' %}active{% endif %} dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administration</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('admin_news') }}">Gestion des news</a>
                                <a class="dropdown-item" href="{{ path('admin_team') }}">Gestion des équipes</a>
                                <a class="dropdown-item" href="{{ path('admin_match') }}">Gestion des matchs</a>
                            </div>
                        </li>
                    {% endif %}
                {% else %}
                    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-success">S'inscrire</a>
                    <button class="btn btn-outline-primary" data-toggle="modal" data-target=".modal_connect">Se connecter</button>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}

<div class="container m-t-1">
    {% block alert_sucess %}
        <div class="modal fade modal_alert_success" tabindex="-1" role="dialog" aria-labelledby="modalAlertSuccess" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Succès</h4>
                    </div>

                    <div class="modal-body">
                        <i class="fa fa-check text-success"></i> Action correctement effectuée
                        <div class="modal-body-more-info text-muted"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block alert_error %}
        <div class="modal fade modal_alert modal_alert_error" tabindex="-1" role="dialog" aria-labelledby="modalAlertSuccess" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Erreur</h4>
                    </div>

                    <div class="modal-body">
                        <i class="fa fa-times text-danger"></i> Une erreur s'est produite
                        <div class="modal-body-more-info text-muted"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block alert_confirmation %}
        <div class="modal fade modal_alert_confirmation" tabindex="-1" role="dialog" aria-labelledby="modalAlertSuccess" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Demande de confirmation</h4>
                    </div>

                    <div class="modal-body">
                        Êtes-vous sûr de vouloir effectuer cette action ?
                        <div class="modal-body-more-info text-muted"></div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger modal-confirmation-no" data-dismiss="modal">Non</button>
                        <button type="button" class="btn btn-outline-primary modal-confirmation-yes" data-dismiss="modal">Oui</button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% if not app.user %}
        <div class="modal fade modal_connect" tabindex="-1" role="dialog" aria-labelledby="modalAlertSuccess" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    {% include 'UserBundle::loginpopup.html.twig' %}
                </div>
            </div>
        </div>
    {% endif %}

    <ol class="breadcrumb">
        {% block breadcrumb %}
            {% if app.request.get('_route') == 'homepage' %}
                <li class="breadcrumb-item active"><i class="fa fa-home"></i> Accueil</li>
            {% else %}
                <li class="breadcrumb-item"><a href="{{ path('homepage') }}"><i class="fa fa-home"></i> Accueil</a></li>
            {% endif %}
        {% endblock %}
    </ol>

    {% block alert %}
        {% for flashType in app.session.flashBag.keys %}
            <div class="alert alert-{{ flashType }}">
                {% for flashMessage in app.session.flashBag.get(flashType) %}
                    {{ flashMessage }}
                    {% if not loop.last %}
                        <br>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    {% endblock %}

    {% block body %}

    {% endblock %}
</div>

<footer class="footer">
    <div class="container text-xs-center">
        <span class="text-muted">• © Copyright {{ "now"|date('Y') }} • bruminator.eu • Certaines illustrations sont la propriété d'Ankama Studio •</span>
    </div>
</footer>

{% block javascripts %}
    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <script   src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"   integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="   crossorigin="anonymous"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    {% javascripts '@MainBundle/Resources/public/js/tether.min.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        $(function () {
            $('[data-toggle="popover"]').popover()
        });

        $('.modal_alert').on('hide.bs.modal', function() {
            $('.modal-body-more-info').empty();
        });

        $('body').on('mouseover', '.editable_content', function() {
            $(this).find('.editable_tool').removeClass('invisible');
        }).on('mouseleave', '.editable_content', function() {
            $(this).find('.editable_tool').addClass('invisible');
        });
    </script>
{% endblock %}
</body>
</html>
