<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% block title %}Bruminator{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        {% stylesheets '@MainBundle/Resources/public/css/sticky-footer.css' %}
            <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-52108059-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
{% block menu %}
    <nav class="navbar navbar-light bg-faded navbar-full navbar-static-top">
        <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="container collapse navbar-toggleable-md" id="navbarResponsive">
            <a class="navbar-brand" href="{{ path('homepage') }}">Bruminator</a>

            <ul class="nav navbar-nav">
                {% if app.user %}
                    <li class="nav-item dropdown {% if app.request.attributes.get('_route') matches '{^team_(?!front).*$}' %}active{% endif %}">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mon équipe</a>
                        <div class="dropdown-menu">
                            {% if app.user.team %}
                                <a class="dropdown-item" href="{{ path('team_homepage') }}">Gérer</a>
                            {% else %}
                                <a class="dropdown-item" href="{{ path('team_registration') }}">Inscription</a>
                            {% endif %}
                        </div>
                    </li>
                {% endif %}

                <li class="nav-item {% if app.request.attributes.get('_route') matches '{^(team_front.*|calendrier.*)$}' %}active{% endif %} dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tournoi</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('team_front_homepage') }}">Liste des équipes</a>
                        <a class="dropdown-item" href="{{ path('classement') }}">Classement</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('calendrier') }}">Calendrier</a>
                        <a class="dropdown-item" href="{{ path('map_view') }}">Liste des maps</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('team_front_synergie') }}">Calcul de synergie</a>
                    </div>
                </li>

                <li class="nav-item {% if app.request.attributes.get('_route') matches '{^gallerie.*$}' %}active{% endif %} dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Autres curiosités</a>
                    <div class="dropdown-menu">
                        <!--<a class="dropdown-item" href="{{ path('pantheon') }}">Le panthéon</a>-->
                        <a class="dropdown-item" href="{{ path('gallerie') }}">Le musée</a>
                    </div>
                </li>
            </ul>

            <ul class="nav navbar-nav float-lg-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sponsors</a>
                    <div class="dropdown-menu">
                        {% for key, sponsor in 'sponsor'|config %}
                            <a class="dropdown-item" href="{{ sponsor.link }}" target="_blank">
                                <img alt="Logo {{ key }}" src="{{ asset('bundles/main/images/sponsors/'~sponsor.image ) }}"> {{ key }}
                            </a>
                        {% endfor %}
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Liens</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ 'lien_twitch'|config.url }}" target="_blank">
                            <i class="fa fa-twitch fa-fw"></i> {{ 'lien_twitch'|config.name }}
                        </a>
                        <a class="dropdown-item" href="{{ 'lien_twitter'|config.url }}" target="_blank">
                            <i class="fa fa-twitter fa-fw"></i> {{ 'lien_twitter'|config.name }}
                        </a>
                        <a class="dropdown-item" href="{{ 'lien_facebook'|config.url }}" target="_blank">
                            <i class="fa fa-facebook fa-fw"></i> {{ 'lien_facebook'|config.name }}
                        </a>
                        <a class="dropdown-item" href="{{ 'lien_youtube'|config.url }}" target="_blank">
                            <i class="fa fa-youtube-play fa-fw"></i> {{ 'lien_youtube'|config.name }}
                        </a>
                        <a class="dropdown-item" href="{{ 'lien_dofus'|config.url }}" target="_blank">
                            {% image '@MainBundle/Resources/public/images/dofus.png' output='/images/dofus.png' %}
                                <img alt="Logo Dofus" src="{{ asset_url }}" width="16px" height="16px">
                            {% endimage %}
                            {{ 'lien_dofus'|config.name }}
                        </a>
                    </div>
                </li>
                {% if app.user %}
                    <li class="nav-item {% if app.request.attributes.get('_route') matches '{^user_.*$}' %}active{% endif %} dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> {{ app.user.username }}</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Se déconnecter</a>
                        </div>
                    </li>

                    <li id="dropdown-notification" class="nav-item dropdown" data-time="{{ "now"|date("Y-m-d H:i") }}">
                        <a id="dropdown-notification-bell" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{% if notification.getCountNotifications() > 0 %}<i class="fa fa-bell"></i><span class="tag tag-pill tag-danger">{{ notification.getCountNotifications() }}{% else %}<i class="fa fa-bell-o"></i>{% endif %}</span></a>
                        <div class="dropdown-menu" style="width: 250px;max-width: 250px;">
                            {% for notification in notification.getNotifications() %}
                                <span class="dropdown-item" style="white-space: normal;">
                                    <small>{% if not notification.timeRead %}<b>{% endif %}{{ notification.message }}{% if not notification.timeRead %}</b>{% endif %}</small>
                                    <br>
                                    <small class="text-muted"><i class="fa fa-clock-o"></i> {{ notification.timeCreated|time_diff }}</small>
                                    {% if not loop.last %}
                                        <hr>
                                    {% endif %}
                                </span>
                            {% else %}
                                <span class="dropdown-item" style="white-space: normal;">
                                    <i>Aucune notification</i>
                                </span>
                            {% endfor %}
                        </div>
                    </li>

                    {% if is_granted("ROLE_ADMIN") %}
                        <li class="nav-item {% if app.request.attributes.get('_route') matches '{^admin_.*$}' %}active{% endif %} dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administration</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('admin_news') }}">Gestion des news</a>
                                <a class="dropdown-item" href="{{ path('admin_team') }}">Gestion des équipes</a>
                                <a class="dropdown-item" href="{{ path('admin_match') }}">Gestion des matchs</a>
                                <a class="dropdown-item" href="{{ path('admin_edition') }}">Gestion des éditions</a>
                                <a class="dropdown-item" href="{{ path('admin_classe') }}">Gestion des classes</a>
                            </div>
                        </li>
                    {% endif %}
                {% else %}
                    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-success">S'inscrire</a>
                    <button class="btn btn-outline-primary" data-toggle="modal" data-target=".modal_connect">Se connecter</button>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}

<div class="container mt-1">
    {% block alert_sucess %}
        <div class="modal fade modal_alert_success" tabindex="-1" role="dialog" aria-labelledby="modalAlertSuccess" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Succès</h4>
                    </div>

                    <div class="modal-body">
                        <i class="fa fa-check text-success"></i> Action correctement effectuée
                        <div class="modal-body-more-info text-muted"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block alert_error %}
        <div class="modal fade modal_alert modal_alert_error" tabindex="-1" role="dialog" aria-labelledby="modalAlertSuccess" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Erreur</h4>
                    </div>

                    <div class="modal-body">
                        <i class="fa fa-times text-danger"></i> Une erreur s'est produite
                        <div class="modal-body-more-info text-muted"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block alert_confirmation %}
        <div class="modal fade modal_alert_confirmation" tabindex="-1" role="dialog" aria-labelledby="modalAlertSuccess" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Demande de confirmation</h4>
                    </div>

                    <div class="modal-body">
                        Êtes-vous sûr de vouloir effectuer cette action ?
                        <div class="modal-body-more-info text-muted"></div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger modal-confirmation-no" data-dismiss="modal">Non</button>
                        <button type="button" class="btn btn-outline-primary modal-confirmation-yes" data-dismiss="modal">Oui</button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% if not app.user %}
        <div class="modal fade modal_connect" tabindex="-1" role="dialog" aria-labelledby="modalAlertSuccess" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    {% include 'UserBundle::loginpopup.html.twig' %}
                </div>
            </div>
        </div>
    {% endif %}

    <ol class="breadcrumb">
        {% block breadcrumb %}
            {% if app.request.get('_route') == 'homepage' %}
                <li class="breadcrumb-item active"><i class="fa fa-home"></i> Accueil</li>
            {% else %}
                <li class="breadcrumb-item"><a href="{{ path('homepage') }}"><i class="fa fa-home"></i> Accueil</a></li>
            {% endif %}
        {% endblock %}
    </ol>

    {% block alert %}
        {% for flashType in app.session.flashBag.keys %}
            <div class="alert alert-{{ flashType }}">
                {% for flashMessage in app.session.flashBag.get(flashType) %}
                    {{ flashMessage }}
                    {% if not loop.last %}
                        <br>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    {% endblock %}

    {% block body %}

    {% endblock %}
</div>

<footer class="footer">
    <div class="container text-xs-center">
        <span class="text-muted">• © Copyright {{ "now"|date('Y') }} • bruminator.eu • Certaines illustrations sont la propriété d'Ankama Studio •</span>
    </div>
</footer>

{% block javascripts %}
    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <script   src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"   integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="   crossorigin="anonymous"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    {% javascripts '@MainBundle/Resources/public/js/tether.min.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>

    <script>
        function enableThings() {
            $('[data-toggle="tooltip"]').tooltip();
            $('[data-toggle="popover"]').popover();

            var isMobile = window.matchMedia("only screen and (max-width: 768px)");

            if (isMobile.matches) {
                $('.editable_content').find('.editable_tool').removeClass('invisible');
            }
        }

        $( document ).ready(function() {
            enableThings();
        });

        $('.modal_alert').on('hide.bs.modal', function() {
            $('.modal-body-more-info').empty();
        });

        $('body').on('mouseover', '.editable_content', function() {
            $(this).find('.editable_tool').removeClass('invisible');
        }).on('mouseleave', '.editable_content', function() {
            $(this).find('.editable_tool').addClass('invisible');
        });

        $('body').on('click', '*', function() {
            $('[data-toggle="tooltip"]').tooltip('hide');
        });

        $('#dropdown-notification').on('show.bs.dropdown', function(){
            $.ajax({
                type: 'POST',
                url: Routing.generate('notification_ajax_setread'),
                data: {
                    time: $(this).data('time')
                },
                error: function (request, error) { // Info Debuggage si erreur
                    console.log("Erreur : responseText: " + request.responseText);
                },
                success: function (data) {
                    if (data.status == 'ok') {
                        $('#dropdown-notification-bell .tag').fadeOut();
                        $('#dropdown-notification-bell i').removeClass('fa-bell').addClass('fa-bell-o');
                    } else {
                        console.log(data.debug);
                    }
                }
            });
        });

        $(document).ajaxComplete(function() {
            enableThings();
        });
    </script>
{% endblock %}
</body>
</html>
