<nav aria-label="Navigation entre les pages">
    <ul class="pagination">
        <li class="page-item {% if pagination.page <= 1 %}disabled{% endif %}">
            <a class="page-link" href="{{ path(pagination.route, pagination.route_params|merge({'page':1})) }}" aria-label="Première page" {% if pagination.page <= 1 %}rel="nofollow"{% endif %}>
                <span aria-hidden="true"><i class="far fa-angle-double-left"></i></span>
                <span class="sr-only">Première page</span>
            </a>
        </li>
        <li class="page-item {% if pagination.page <= 1 %}disabled{% endif %}">
            <a class="page-link" href="{{ path(pagination.route, pagination.route_params|merge({'page':pagination.page - 1})) }}" aria-label="Précédent" {% if pagination.page <= 1 %}rel="nofollow"{% endif %}>
                <span aria-hidden="true"><i class="far fa-angle-left"></i></span>
                <span class="sr-only">Précédent</span>
            </a>
        </li>

        {% if pagination.pages_count > 0 %}
            {% for p in range(max(pagination.page-4, 1), min(pagination.page+4, pagination.pages_count)) %}
                <li class="page-item {% if p == pagination.page %}active{% endif %}"><a class="page-link" href="{{ path(pagination.route, pagination.route_params|merge({'page': p})) }}">{{ p }}</a></li>
            {% endfor %}
        {% else %}
            <li class="page-item active"><a class="page-link" href="{{ path(pagination.route, pagination.route_params|merge({'page': 1})) }}">1</a></li>
        {% endif %}

        <li class="page-item {% if pagination.page >= pagination.pages_count %}disabled{% endif %}">
            <a class="page-link" href="{{ path(pagination.route, pagination.route_params|merge({'page':pagination.page + 1})) }}" aria-label="Suivant" {% if pagination.page >= pagination.pages_count %}rel="nofollow"{% endif %}>
                <span aria-hidden="true"><i class="far fa-angle-right"></i></span>
                <span class="sr-only">Suivant</span>
            </a>
        </li>
        <li class="page-item {% if pagination.page >= pagination.pages_count %}disabled{% endif %}">
            <a class="page-link" href="{{ path(pagination.route, pagination.route_params|merge({'page':pagination.pages_count})) }}" aria-label="Dernière page" {% if pagination.page >= pagination.pages_count %}rel="nofollow"{% endif %}>
                <span aria-hidden="true"><i class="far fa-angle-double-right"></i></span>
                <span class="sr-only">Dernière page</span>
            </a>
        </li>
    </ul>
</nav>