{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} • Administration • Gestion des matchs
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('admin_homepage') }}">Administration</a></li>
    <li class="breadcrumb-item active">Gestion des matchs</li>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets '@MainBundle/Resources/public/css/bootstrap-datetimepicker.min.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <h1>Gestion des matchs</h1>
    <hr>

    {% if matchs|length > 0 %}
        {% if 'type_tournoi'|config == 'ronde' and ((date('ronde1'|config.end_date) <= date() and 'rondes'|config['ronde_actuelle'] < 2) or (date('ronde2'|config.end_date) <= date() and 'rondes'|config['ronde_actuelle'] < 3)) %}
            <div class="alert alert-info">
                Nous arrivons à une fin de ronde.<br>
                Générer les matchs de la ronde suivante ?<br>
                <button class="btn btn-primary nextRonde">Oui</button>
            </div>
        {% endif %}

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#future" role="tab">Matchs à venir</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#ended" role="tab">Matchs terminés</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active mt-1" id="future" role="tabpanel">
                {% for match in matchs if not match.date or match.date > date() %}
                    {% include 'AdminBundle:Match:matchRow.html.twig' %}
                {% else %}
                    <i>Aucun match à venir</i>
                {% endfor %}
            </div>
            <div class="tab-pane mt-1" id="ended" role="tabpanel">
                {% for match in matchs if match.date and match.date < date() %}
                    {% include 'AdminBundle:Match:matchRowEnded.html.twig' %}
                {% else %}
                    <i>Aucun match terminé</i>
                {% endfor %}
            </div>
        </div>
    {% else %}
        {% if date('inscription_end'|config) > date() %}
            <div class="alert alert-danger">
                Les inscriptions ne sont pas encore terminées
            </div>
        {% else %}
            <div class="alert alert-info">
                Les inscriptions sont terminées.<br>
                Il y a {{ nbTeamValid }} team <b>validées</b> sur {{ nbTeam }} <b>inscrites</b><br>
                <br>
                Voulez-vous générer les matchs ?<br>
                <button class="btn btn-primary" data-action="generateMatch">Oui</button><button class="btn btn-outline-danger ml-1">Non</button>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts output='js/compiled/admin/match.js'
    '@AdminBundle/Resources/public/js/match.js'
    '@MainBundle/Resources/public/js/moment.min.js'
    '@MainBundle/Resources/public/js/moment-with-locales.min.js'
    '@MainBundle/Resources/public/js/bootstrap-datetimepicker.min.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}