<tr data-id="{{ data.id }}">
    <td>{{ data.map.name }}</td>
    <td>{% if data.attack is defined %}Match {{ data.attack.name }} VS {{ data.defense.name }}{% else %}{{ data.date|format_date('dd MMMM YYYY') }}{% endif %}</td>
    <td>
        <div class="btn-toolbar" role="toolbar" aria-label="Outils">
            <div class="btn-group btn-group-sm" role="group" aria-label="Edition">
                <button type="button" class="btn btn-secondary" data-action="hide" data-id="{{ data.map.id }}" data-toggle="tooltip" title="Masquer/Rendre visible la map pour les joueurs" disabled><i class="fa fa-pencil"></i></button>
            </div>
        </div>
    </td>
</tr>