{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Arbre des phases finales</h1>
    <hr>

    {{ dump(matchs) }}

    <div class="col-sm-4">
        <h3>Quarts de finale</h3>

        {% for match in matchs if match.type == "Quart de finale" %}
            <div style="margin-bottom: 30px;">
                <a href="" class="text-danger"><strong>{% if match.attack %}{{ match.attack.name }}{% else %}Inconnu{% endif %}</strong></a><br>
                <span class="text-muted">{{ match.date|format_date("dd MMMM - HH:mm") }}</span><br>
                <a href="" class="text-primary"><strong>{% if match.defense %}{{ match.defense.name }}{% else %}Inconnu{% endif %}</strong></a><br>

                {% if loop.index % 2 == 1 %}
                    {% image '@MainBundle/Resources/public/images/image_arbre.png' output='/images/bracket.png' %}
                        <img class="pull-right visible-lg-inline" src="{{ asset_url }}" alt="" style="margin-top:-35px;" >
                    {% endimage %}
                {% endif %}

            </div>
        {% endfor %}
    </div>

    <div class="col-sm-4">
        <h3>Demis-finales</h3>

        {% for match in matchs if match.type == "Demi-finale" %}
            <div style="margin-top: 55px; margin-bottom: 110px;">
                <a href="" class="text-danger"><strong>{% if match.attack %}{{ match.attack.name }}{% else %}Inconnu{% endif %}</strong></a><br>
                <span class="text-muted">{{ match.date|format_date("dd MMMM - HH:mm") }}</span><br>
                <a href="" class="text-primary"><strong>{% if match.defense %}{{ match.defense.name }}{% else %}Inconnu{% endif %}</strong></a><br>

                {% if loop.index % 2 == 1 %}
                    {% image '@MainBundle/Resources/public/images/image_arbre.png' output='/images/bracket.png' %}
                    <img class="pull-right visible-lg-inline" src="{{ asset_url }}" alt="" style="margin-top:-45px;" >
                    {% endimage %}
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="col-sm-4">
        <h3>Finale</h3>

        {% for match in matchs if match.type == "Finale" %}
            <div style="margin-top:140px; margin-bottom:50px;">
                <a href="" class="text-danger"><strong>{% if match.attack %}{{ match.attack.name }}{% else %}Inconnu{% endif %}</strong></a><br>
                <span class="text-muted">{{ match.date|format_date("dd MMMM - HH:mm") }}</span><br>
                <a href="" class="text-primary"><strong>{% if match.defense %}{{ match.defense.name }}{% else %}Inconnu{% endif %}</strong></a><br>

                {% if loop.index % 2 == 1 %}
                    {% image '@MainBundle/Resources/public/images/image_arbre.png' output='/images/bracket.png' %}
                    <img class="pull-right visible-lg-inline" src="{{ asset_url }}" alt="" style="margin-top:-45px;" >
                    {% endimage %}
                {% endif %}
            </div>
        {% endfor %}

        <h3>Petite finale</h3>

        <div>

        </div>
    </div>
{% endblock %}