{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} • Accueil
{% endblock %}

{% block body %}
    {% image '@MainBundle/Resources/public/images/banniere.png' output='/images/banniere.png' %}
        <img class="mx-auto img-fluid d-block" src="{{ asset_url }}" alt=""/>
    {% endimage %}

    <ul class="nav nav-tabs mt-1" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#news" role="tab">News</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#informations" role="tab">Informations pratiques</a>
        </li>
        <!--<li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#messages" role="tab">Messages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Settings</a>
        </li>-->
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="news" role="tabpanel">
            <div class="col-md-7">
                {% for new in news %}
                    {% include '@Main/News/newsRow.html.twig' %}
                {% else %}
                    <div class="mt-2 alert alert-info" role="alert">
                        Aucune news pour le moment !
                    </div>
                {% endfor %}
            </div>

            <div class="col-md-4 offset-md-1 mt-1">
                {% if date(getEditionDates().inscription.end) > date() and getConfig('hide_composition') == 0 %}
                    {% include 'MainBundle:Default:lastTeam.html.twig' %}
                {% else %}
                    {% include 'MainBundle:Default:lastMatch.html.twig' %}
                {% endif %}
            </div>
        </div>
        <div class="tab-pane" id="informations" role="tabpanel">
            <h2 class="mt-2">Dates du tournoi</h2>
            <div class="mt-1">
                {% set editionDate = getEditionDates() %}
                <b>Inscriptions :</b> du {{ editionDate.inscription.start|format_date('dd MMMM à HH:mm') }} au {{ editionDate.inscription.end|format_date('dd MMMM à HH:mm') }}<br>
                {% if 'type_tournoi'|config == 'ronde' %}
                    {% for val in (1..'rondes'|config.total) %}
                        <b>Ronde {{ val }} :</b> du {{ attribute(editionDate,'ronde'~val).start|format_date('dd MMMM') }} au {{  attribute(editionDate,'ronde'~val).end|format_date('dd MMMM') }}<br>
                    {% endfor %}
                {% else %}
                    <b>Qualifications :</b> du {{ editionDate.qualification.start|format_date('dd MMMM') }} au {{ editionDate.qualification.end|format_date('dd MMMM') }}<br>
                {% endif %}
                <b>Quarts de finale :</b> du {{ editionDate.quart.start|format_date('dd MMMM') }} au {{ editionDate.quart.end|format_date('dd MMMM') }}<br>
                <b>Demi-finales :</b> du {{ editionDate.demi.start|format_date('dd MMMM') }} au {{ editionDate.demi.end|format_date('dd MMMM') }}<br>
                <b>Finales :</b> du {{ editionDate.finale.start|format_date('dd MMMM') }} au {{ editionDate.finale.end|format_date('dd MMMM') }}<br>
                <br>
                <i>Ces dates sont à titre indicatif et peuvent être légèrement modifiées si besoin.</i>

                <h3 class="mt-1">Liste des organisateurs</h3>
                <ul>
                    {% for organisateur in organisateurs %}
                        <li>{{ organisateur.username }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!--<div class="tab-pane" id="messages" role="tabpanel">...</div>
        <div class="tab-pane" id="settings" role="tabpanel">...</div>-->
    </div>
{% endblock %}
