{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} • Accueil
{% endblock %}

{% block body %}
    {% image '@MainBundle/Resources/public/images/banniere.png' output='/images/banniere.png' %}
        <img class="m-x-auto img-fluid" src="{{ asset_url }}" alt=""/>
    {% endimage %}

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#news" role="tab">News</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#informations" role="tab">Informations pratiques</a>
        </li>
        <!--<li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#messages" role="tab">Messages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Settings</a>
        </li>-->
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="news" role="tabpanel">
            <div class="col-md-7">
                {% for new in news %}
                    {% include '@Main/News/newsRow.html.twig' %}
                {% else %}
                    <div class="m-t-2 alert alert-info" role="alert">
                        Aucune news pour le moment !
                    </div>
                {% endfor %}
            </div>

            <div class="col-md-4 offset-md-1 m-t-1">
                <h3>Dernières teams <small class="text-muted">{{ teams|length }}/{{ 'max_total_team'|config }}</small></h3>
                <hr>

                {% for team in teams|slice(0, 5) %}
                    <div>
                        <h4 {% if team.name|length > 20 %}data-toggle="tooltip" data-trigger="hover" title="{{ team.name }}"{% endif %}>{{ team.name|truncate(20) }}</h4>
                        <div class="text-muted p-b-1">
                            <i class="fa fa-clock-o"></i> {{ team.inscriptionDate|time_diff }} - <a href="{{ path('team_front_homepage', {'id':team.id, 'slugTeam': team.name|slugify}) }}" class="text-muted">Vers l'équipe <i class="fa fa-share"></i></a>
                        </div>

                        {% for player in team.players if not player.isRemplacant%}
                            <div style="margin-bottom:3px;">
                                <img src="{{ asset('bundles/main/images/class/'~player.class.shortName|lower|remove_accent~'1.png' ) }}" alt="{{ player.class.name }}" data-toggle="tooltip" data-trigger="hover" title="{{ player.class.name }}"> {{ player.pseudo }}
                            </div>
                        {% endfor %}

                        {% if not loop.last %}
                            <hr>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="m-t-2 alert alert-info" role="alert">
                        Aucune team inscrite pour le moment
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane" id="informations" role="tabpanel">
            <h2 class="m-t-2">Dates du tournoi</h2>
            <div class="m-t-1">
                <b>Inscriptions :</b> du {{ 'inscription_start'|config|format_datetime('dd MMMM yyyy à HH:mm') }} au {{ 'inscription_end'|config|format_datetime('dd MMMM yyyy à HH:mm') }}
            </div>
        </div>
        <!--<div class="tab-pane" id="messages" role="tabpanel">...</div>
        <div class="tab-pane" id="settings" role="tabpanel">...</div>-->
    </div>
{% endblock %}
