{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} • Accueil
{% endblock %}

{% block body %}
    {% image '@MainBundle/Resources/public/images/banniere.png' output='/images/banniere.png' %}
        <img class="mx-auto img-fluid d-block" src="{{ asset_url }}" alt=""/>
    {% endimage %}

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#news" role="tab">News</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#informations" role="tab">Informations pratiques</a>
        </li>
        <!--<li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#messages" role="tab">Messages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Settings</a>
        </li>-->
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="news" role="tabpanel">
            <div class="col-md-7">
                {% for new in news %}
                    {% include '@Main/News/newsRow.html.twig' %}
                {% else %}
                    <div class="mt-2 alert alert-info" role="alert">
                        Aucune news pour le moment !
                    </div>
                {% endfor %}
            </div>

            <div class="col-md-4 offset-md-1 mt-1">
                {% if date('inscription_end'|config) > date() %}
                    {% include 'MainBundle:Default:lastTeam.html.twig' %}
                {% else %}
                    {% include 'MainBundle:Default:lastMatch.html.twig' %}
                {% endif %}
            </div>
        </div>
        <div class="tab-pane" id="informations" role="tabpanel">
            <h2 class="mt-2">Dates du tournoi</h2>
            <div class="mt-1">
                <b>Inscriptions :</b> du {{ 'inscription_start'|config|format_datetime('dd MMMM yyyy à HH:mm') }} au {{ 'inscription_end'|config|format_datetime('dd MMMM yyyy à HH:mm') }}<br>
                {% if 'type_tournoi'|config == 'ronde' %}
                    {% for val in (1..'rondes'|config.total) %}
                        <b>Ronde {{ val }} :</b> du {{ ('ronde' ~ val)|config.start_date|format_datetime('dd MMMM') }} au {{ ('ronde' ~ val)|config.end_date|format_datetime('dd MMMM yyyy') }}<br>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <!--<div class="tab-pane" id="messages" role="tabpanel">...</div>
        <div class="tab-pane" id="settings" role="tabpanel">...</div>-->
    </div>
{% endblock %}
