<tr data-id="{{ class.id }}">
    <td>{{ class.id }}</td>
    <td>{{ class.name }}</td>
    <td>{{ class.shortName }}</td>
    <td>{{ class.points }}</td>
    <td>
        <div class="btn-toolbar" role="toolbar" aria-label="Outils">
            <div class="btn-group btn-group-sm" role="group" aria-label="Edition">
                <button type="button" class="btn btn-secondary" data-action="delete" data-id="{{ class.id }}"><i class="fa fa-trash"></i></button>
                <button type="button" class="btn btn-secondary" data-action="edit" data-id="{{ class.id }}"><i class="fa fa-pencil"></i></button>
            </div>
        </div>
    </td>
</tr>