{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} • Liste des équipes
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Liste des équipes</li>
{% endblock %}

{% block body %}
    <h1>Liste des équipes inscrites</h1>
    <hr>

    {% for team in teams %}
        <div class="col-md-4">
            <div class="card card-block">
                <h4 class="card-title">{{ team.name }}</h4>
                <p class="card-text">
                    <i class="fa fa-calendar"></i> {{ team.inscriptionDate | date('d/m/Y') }}<br>
                    {% if team.valid %}<i class="fa fa-check text-success"></i> Équipe validée{% else %}<i class="fa fa-remove text-danger"></i> Équipe non validée{% endif %}<br>
                </p>
                <div class="row">
                    {% for player in team.players if not player.isRemplacant %}
                        <div class="col-md-3">
                            <img src="{{ asset('bundles/main/images/class/'~ player.class.shortName|lower|remove_accent ~'1.png') }}" class="img-thumbnail" data-toggle="tooltip" data-trigger="hover" title="{{ player.pseudo }}, {{ player.class.name }} {{ player.level }}">
                        </div>
                    {% endfor %}
                </div>
                <a href="{{ path('team_front_homepage', {'id':team.id, 'slugTeam': team.name|slugify}) }}" class="btn btn-primary m-t-1">Plus d'informations</a>
            </div>
        </div>
    {% else %}
        <div class="alert alert-info">
            Aucune équipe ne s'est inscrite pour le moment
        </div>
    {% endfor %}
{% endblock %}
