<div class="col-md-4">
    <div class="card card-block">
        <h4 class="card-title" {% if team.name|length > 19 %}data-toggle="tooltip" data-trigger="hover" title="{{ team.name }}"{% endif %}>{{ team.name|truncate(19) }}</h4>
        <p class="card-text">
            <i class="far fa-calendar"></i> {{ team.inscriptionDate | time_diff }}<br>
            {% if team.valid %}<i class="fas fa-check text-success"></i> Équipe validée{% else %}<i class="fas fa-times text-danger"></i> Équipe non validée{% endif %}<br>
        </p>
        <div>
            {% if date(getEditionDates().inscription.end) > date() and getConfig('hide_composition') == 1 %}
                <i>Les compositions d'équipes sont masquées en phase d'inscription</i>
            {% else %}
                {% for player in team.players if not player.isRemplacant %}
                    <span class="pr-1">
                        <img src="{{ asset('bundles/main/images/class/'~ player.class.shortName|lower|remove_accent ~'1.png') }}" data-toggle="tooltip" data-trigger="hover" title="{{ player.pseudo }}, {{ player.class.name }} {{ player.level }}">
                    </span>
                {% endfor %}
            {% endif %}
        </div>
        <a href="{{ path('team_front_team_view', {'id':team.id, 'slugTeam': team.name|slugify}) }}" class="btn btn-primary mt-1">Plus d'informations</a>
    </div>
</div>