{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} • {{ team.name }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('team_front_homepage') }}">Liste des équipes</a></li>
    <li class="breadcrumb-item active">{{ team.name }}</li>
{% endblock %}

{% block body %}
    <h1>{{ team.name }}</h1>
    <hr>

    <div class="row">
        <div class="col-md-4">
            <div class="card card-block">
                <h4 class="card-title">Informations générales</h4>
                <p class="card-text">
                    <i class="fa fa-calendar"></i> {{ team.inscriptionDate | time_diff }}<br>
                    {% if team.valid %}<i class="fa fa-check text-success"></i> Équipe validée{% else %}<i class="fa fa-remove text-danger"></i> Équipe non validée{% endif %}<br>
                </p>
                {% for player in team.players if not player.isRemplacant %}
                    <span class="p-r-1">
                        <img src="{{ asset('bundles/main/images/class/'~ player.class.shortName|lower|remove_accent ~'1.png') }}" data-toggle="tooltip" data-trigger="hover" title="{{ player.pseudo }}, {{ player.class.name }} {{ player.level }}">
                    </span>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-block">
                <h4 class="card-title">Informations du tournoi</h4>
                <p class="card-text">
                    <!-- TODO -->
                </p>
            </div>
        </div>
    </div>

    <!--<div class="m-t-1 row">
        <h2>Matchs</h2>

        {##}{ render(controller('TeamBundle:Team:frontViewTeamMatchs', { 'id': team.id })) }}
    </div> TODO-->
{% endblock %}