{% if arbitre.hasRole('ROLE_ADMIN') or arbitre.hasRole('ROLE_SUPER_ADMIN') or arbitre.hasRole('ROLE_ARBITRE') or arbitre.hasRole('ROLE_ARBITRE_WAITING_APPROVAL') %}
    <tr data-id="{{ arbitre.id }}" data-table="arbitre">
        <td>
            {% if not arbitre.hasRole('ROLE_ARBITRE_WAITING_APPROVAL') %}
                <i class="fa fa-user text-primary" data-toggle="tooltip" title="Arbitre"></i>
            {% else %}
                <i class="fa fa-user text-warning" data-toggle="tooltip" title="Arbitre en attente de validation"></i>
            {% endif %}
            {{ arbitre.username }}
        </td>
        <td>{{ arbitre.email }}</td>
        <td>{{ arbitre.arbitreDisponibilite|nl2br }}</td>
        <td>
            {% if arbitre.hasRole('ROLE_ARBITRE') or arbitre.hasRole('ROLE_ARBITRE_WAITING_APPROVAL') %}
                <div class="btn-toolbar" role="toolbar" aria-label="Outils">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Edition">
                        {% if arbitre.hasRole('ROLE_ARBITRE_WAITING_APPROVAL') %}
                            <button type="button" class="btn btn-secondary" data-action="promote" data-id="{{ arbitre.id }}" data-role="arbitre" data-toggle="tooltip" title="Valider l'arbitre"><i class="fa fa-check text-success"></i></button>
                        {% endif %}
                        <button type="button" class="btn btn-secondary" data-action="promote" data-id="{{ arbitre.id }}" data-role="user" data-toggle="tooltip" title="Refuser l'arbitre"><i class="fa fa-times text-danger"></i></button>
                    </div>
                </div>
            {% endif %}
        </td>
    </tr>
{% endif %}