<tr data-id="{{ user.id }}">
    <td>
        {% if user.hasRole('ROLE_ADMIN') or user.hasRole('ROLE_SUPER_ADMIN') %}
            <i class="fa fa-user-secret text-danger" data-toggle="tooltip" title="Organisateur"></i>
        {% elseif user.hasRole('ROLE_ARBITRE') %}
            <i class="fa fa-user text-primary" data-toggle="tooltip" title="Arbitre"></i>
        {% else %}
            <i class="fa fa-user" data-toggle="tooltip" title="Utilisateur"></i>
        {% endif %}
        {{ user.username }}
    </td>
    <td>{{ user.email }}</td>
    <td>{% if user.team %}<a href="{{ path('team_front_team_view', {'id':user.team.id, 'slugTeam': user.team.name|slugify}) }}" target="_blank">{{ user.team.name }}</a>{% else %}-{% endif %}</td>
    <td>
        <div class="btn-toolbar" role="toolbar" aria-label="Outils">
            <div class="btn-group btn-group-sm" role="group" aria-label="Edition">
                <button type="button" class="btn btn-secondary" data-action="edit" data-id="{{ user.id }}" data-toggle="tooltip" title="Modifier l'utilisateur" disabled><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-secondary" data-action="edit" data-id="{{ user.id }}" data-toggle="tooltip" title="Envoyer un email" disabled><i class="fa fa-envelope"></i></button>
                <button type="button" class="btn btn-secondary" data-action="edit" data-id="{{ user.id }}" data-toggle="tooltip" title="Ré-initialiser le mot de passe" disabled><i class="fa fa-key"></i></button>
                <div class="btn-group  btn-group-sm" role="group" data-toggle="tooltip" title="Promouvoir l'utilisateur">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user-plus"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        {% if not user.hasRole('ROLE_ADMIN') and not user.hasRole('ROLE_SUPER_ADMIN') %}
                            <button class="dropdown-item" type="button" data-action="promote" data-id="{{ user.id }}" data-role="organisateur"><i class="fa fa-user-secret text-danger"></i> Organisateur</button>
                        {% endif %}

                        {% if not user.hasRole('ROLE_ADMIN') and not user.hasRole('ROLE_SUPER_ADMIN') and not user.hasRole('ROLE_ARBITRE') %}
                            <button class="dropdown-item" type="button" data-action="promote" data-id="{{ user.id }}" data-role="arbitre"><i class="fa fa-user text-primary"></i> Arbitre</button>
                        {% endif %}

                        {% if user.hasRole('ROLE_ADMIN') or user.hasRole('ROLE_SUPER_ADMIN') or user.hasRole('ROLE_ARBITRE') %}
                            <button class="dropdown-item" type="button" data-action="promote" data-id="{{ user.id }}" data-role="user"><i class="fa fa-user"></i> Utilisateur</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>