{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} • Live
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Live</li>
{% endblock %}

{% block body %}
    <h1>Live</h1>
    <hr>

    <div class="col-sm-8">
        <iframe src="//player.twitch.tv/?channel=bruminator_officiel" frameborder="0" scrolling="no" height="450" width="100%"></iframe>

        <div class="streamInfos">
            <h3>Actuellement : <small class="text-muted">{% if not channel or not channel.stream %}Stream Offline{% else %}<span id='streamTitle'>{{ channel.stream.channel.status }}</span>{% endif %}</small></h3>
            {% if channel and channel.stream %}<h4><span class='fas fa-user'></span> <span id='viewers'>{{ channel.stream.viewers }}</span></h4>{% endif %}
        </div>
    </div>
    <div class="col-sm-4">
        <iframe src="//www.twitch.tv/bruminator_officiel/chat?popout=" frameborder="0" scrolling="no" height="500" width="100%"></iframe>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts output='js/compiled/main/live.js'
    '@MainBundle/Resources/public/js/live.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}